@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #2D3480;
  --secondary: #C4E9EC;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
